---
import Layout from '../layouts/Layout.astro';
import {places} from '../data/places'
import {itineraryData} from '../data/itinerary'
import Itinerary from '../components/react/Itinerary';

const {name} = Astro.params

const place = places.find(place => place.name.toLowerCase() === name)
let itinerario = (itineraryData[0].details[0]);

---

<Layout title=`${place?.name}`>
	<main class="" transition:name={`portada ${name} box`}>
      <a href="/#places" class="rounded absolute top-0 left-0 z-50 bg-black w-8 h-8 justify-center items-center flex m-5"> {'<-'} </a>
        <section class="h-screen">

            <div class="relative xl:h-[500px] sm:h-[400px] h-[250px] bg-cover justify-between flex items-center flex-col"
            style={`background-image: url(${place?.img})`}
            transition:name={`imagen-portada ${place?.name} image`}
            >
            <div class="absolute h-full w-full bg-opacity-80 bg-blend-multiply bg-gradient-to-t from-[#07111dee] bg-[#252525] z-10">
            </div>
                <!-- <img src={place?.img} alt={place?.name} class="w-full max-h-[500px] object-cover blur-sm opacity-30 absolute -z-10 "
                transition:name={`imagen-portada ${place?.name} image`}
                > -->
                    <div class="flex flex-col gap-y-3 text-center z-20">
                
                       
                        <h1 class="md:text-7xl text-4xl font-extrabold xl:mt-20 mt-5 sm:mt-10" 
                        transition:name={`image-name ${place?.name} name`}>
                        Visit {place?.name}</h1>
                        <p class="md:text-base text-sm"
                        transition:name={`image-desc ${place?.name} desc`}
                        >{place?.desc}</p>
                    </div>
                   
                    <Itinerary client:visible place={place?.name} />
                 
            </div>   
            <div>
            <p id="itinerario">{itinerario}</p>    
            </div> 
    </section>
	</main>
</Layout>

<script define:vars={{ itineraryData }}>
document.addEventListener('itineraryChange' ,(e)=> {
    const elemento = itineraryData.find((element)=>element.title == e.detail);
    const displayElement = document.getElementById('itinerario');
    displayElement.textContent = elemento.details;
 });
</script>