---
import MenuOverlay from './react/MenuOverlay'
const links = [
    {
        name:"Places",
        href:'/#places'
    },
    {
        name:"About",
        href:'/#about'
    },
    {
        name:"Services",
        href:'/#services'
    },
  
    {
        name:"Feedback",
        href:'/#feedback'
    },
]


---


<header class="flex justify-between items-center w-full absolute top-0 z-20 pt-5 sm:px-20 px-5 revealHeader">
    <h3 class="">Hola</h3>
        <nav class="md:block hidden">
            <ul class="">
                <li class=" gap-x-10 flex">
                    {
                        links.map(link =>(
                        <a href={link.href} 
                        class="hover:text-palete-blue-light transition-colors text-lg">
                            {link.name}
                        </a>
                        ))
                    }
                </li>
            </ul>
            <!-- <ul>
                <li>
                    <a href={`/${lang}/home/`}>
                      {t('nav.home')}
                    </a>
                </li>
                <li>
                    <a href={`/${lang}/about/`}>
                      {t('nav.about')}
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/astrodotbuild">
                      {t('nav.twitter')}
                    </a>
                </li>
            </ul> -->
        </nav>
      
      <div class="flex gap-10">
            <ul>
                <li class=" gap-x-3 flex">
                    <a class=" hover:font-extrabold" href="/">En</a>
                    <a class=" hover:font-extrabold" href="/">Es</a>
                    <a class=" hover:font-extrabold" href="/">Rs</a>
                </li>
            </ul>
            
                
               <MenuOverlay client:visible links = {links}/>
             
</div>
</header>
