---
import {places} from '../data/places'


---


<section class=" justify-center items-center flex w-full flex-col mb-40 md:mt-10 mt-24" id="places">
    <div class="lg:w-[45%]  text-center ">
        <h2 class="md:text-4xl text-2xl font-bold ">
            We Will Help You Travel And You Can Consult With Us.
        </h2>
        <p class="mt-5 text-palete-white-blue">
            Lorem ipsum is placeholder text commonly used in the graphic, print
        </p>
    </div>
    <main class="md:max-w-full  h-[500px] gap-4  mt-10 flex-row md:flex hidden"> 
        
       {
        places.map(place =>(
        <div class=" md:w-[30%] w-1/4 group rounded-2xl cursor-pointer overflow-hidden md:hover:w-[100%] transition-all  duration-300">
            <a href={place.name.toLowerCase()} transition:name={`portada ${place.name} box`}>
        <img src={place.img}
            alt={place.name} 
            class="w-full h-full object-cover group-hover:scale-125 group-hover:opacity-50 transition-all duration-300"
            transition:name={`imagen-portada ${place.name} image`}
         >
        <div class="w-full h-1/2 mt-[-250px] relative">
            <div class="w-full absolute bottom-3 p-5 opacity-0 group-hover:opacity-100 transition-all duration-100 ">
                <h3 class="text-4xl font-bold delay-200 transition-all duration-200 opacity-0 group-hover:opacity-100"
                transition:name={`image-name ${place?.name} name`}
                >{place.name}</h3>
                <p class="w-3/4 md:inline hidden delay-200 transition-all duration-200 opacity-0 group-hover:opacity-100" 
                transition:name={`image-desc ${place?.name} desc`}
                >{place.desc}</p>
            </div>
        </div>
    </a>
       </div>
        ))
       }
    </main>
     <main class="max-w-full  h-[500px] gap-4  mt-10 md:hidden grid grid-cols-2"> 
       {
        places.map(place =>(
        <div class="rounded-2xl cursor-pointer overflow-hidden">
            <a href={place.name.toLowerCase()} transition:name={`portada ${place.name} box`}>
        <img src={place.img} alt={place.name} class="w-full h-full object-cover  opacity-75 "
        transition:name={`imagen-portada ${place.name} image`}>
        <div class="w-full h-1/2 mt-[-120px] relative">
            <div class="w-full absolute bottom-3 p-5">
                <h3 class="md:text-4xl text-2xl font-bold "  transition:name={`image-name ${place?.name} name`}>{place.name}</h3>
            </div>
        </div>
    </a>
       </div>
        ))
       }
    </main>
  
</section>
